# Entorno virtual
venv/
env/

# Base de datos SQLite
*.sqlite3

# Archivos temporales de Python
__pycache__/
*.py[cod]

# Configuración de VS Code (opcional)
.vscode/

# Archivos de migraciones
*/migrations/__pycache__/
*/migrations/*.pyc

# Archivos estáticos compilados (opcional)
staticfiles/
