<title>{% block titulo %} Eliminar usuario {% endblock %}</title>

{% load static %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'inicio/css/login_styles.css' %}">
{% endblock %}

{% block contenido %}
<div class="alerta-container">
  <h2>¿Estás seguro que quieres eliminar a <strong>{{ user.username }}</strong>?</h2>

  <div class="detalles">
        <p>Correo: {{ user.email }}</p> <br>
        <p>Staff: {{ user.is_staff }}</p>
    </div>
  <form method="post">
    {% csrf_token %}
    <div class="patient-actions">
      <button name="Boton eliminar" type="submit" class="btn-red">Sí, eliminar</button>
      <a href="{% url 'user_list' %}" class="btn-gray">Cancelar</a>
    </div>
  </form>
</div>


<script>
document.addEventListener("DOMContentLoaded", () => {
  const links = document.querySelectorAll("a");

  links.forEach(link => {
    link.addEventListener("click", function(e) {
      const href = this.getAttribute("href");
      if (href && !href.startsWith("#") && !this.hasAttribute("data-no-anim")) {
        e.preventDefault();
        document.body.classList.add("fade-out");
        setTimeout(() => {
          window.location.href = href;
        }, 300);
      }
    });
  });
});
</script>

{% endblock %}
