{% load static %}
<link rel="stylesheet" href="{% static 'inicio/css/login_styles.css' %}">

<div class="fade-in">
  <h2>Eliminar usuario</h2>
  <p>¿Estás seguro que quieres eliminar a <strong>{{ user.username }}</strong>?</p>
  <form method="post">
      {% csrf_token %}
      <button name="Boton eliminar" type="submit" class="btn-red">Eliminar</button>
      <a href="{% url 'user_list' %}" class="btn-gray" style="margin-left: 10px; padding: 10px 15px; border-radius: 10px;">Cancelar</a>
  </form>
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
  const links = document.querySelectorAll("a");

  links.forEach(link => {
    link.addEventListener("click", function(e) {
      const href = this.getAttribute("href");
      if (href && !href.startsWith("#") && !this.hasAttribute("data-no-anim")) {
        e.preventDefault();
        document.body.classList.add("fade-out");
        setTimeout(() => {
          window.location.href = href;
        }, 300);
      }
    });
  });
});
</script>
