<title>{%block titulo%} Detalle de Inventario 🧼 {%endblock%}</title>

{% load static %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'inicio/css/login_styles.css' %}">
{% endblock %}



{% block contenido %}
<h2>Detalle de Inventario</h2>

<div class="login-container">
    <div class="login-box">
        <div class="form-group">
            <label class="form-label">Nombre:</label>
            <p>{{ inventario.nombre }}</p>
        </div>
        <div class="form-group">
            <label class="form-label">Cantidad:</label>
            <p>{{ inventario.cantidad }}</p>
        </div>
        <div class="form-group">
            <label class="form-label">Reabastecimiento:</label>
            <p>{{ inventario.fecha_reabastecimiento }}</p>
        </div>
        <div class="form-group">
            <label class="form-label">Descripción:</label>
            <p>{{ inventario.descripcion }}</p>
        </div>

        <a href="{% url 'inventario' %}" class="btn-black">Volver</a>
    </div>
</div>
{% endblock %}