<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<title>{%block titulo%} {%endblock%}</title>

{% load static %}
<link rel="icon" type="image/png" href="https://1.bp.blogspot.com/-rLgNyIUqYyQ/XOafnogKthI/AAAAAAAAIgU/PLiF69xG3sk804x-M3YhFU_7ZwlbKNRkwCEwYBhgL/w1200-h630-p-k-no-nu/72.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link rel="stylesheet" href="{% static 'inicio/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'inicio/css/style.css' %}">
<link rel="stylesheet" href="{% static 'inicio/css/responsive.css' %}">
<link rel="icon" href="{% static 'inicio/images/fevicon.png' %}" type="image/gif" />
<link rel="stylesheet" href="{% static 'inicio/css/jquery.mCustomScrollbar.min.css' %}">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="{% static 'inicio/js/jquery.min.js' %}"></script>
<script src="{% static 'inicio/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'inicio/js/jquery-3.0.0.min.js' %}"></script>
<script src="{% static 'inicio/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'inicio/js/custom.js' %}"></script>
<link rel="stylesheet" href="{% static 'inicio/css/custom_login.css' %}"> 
<link rel="stylesheet" href="{% static 'inicio/css/login_styles.css' %}"> 
</head>


<body class="main-layout">
    <header>
        <div class="header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <a class="navbar-brand logo" href="#"></a>
                    </div>
                    <div class="col">
                        <nav class="navigation navbar navbar-expand-md navbar-dark justify-content-end">
                            <button class="navbar-toggler" style="background-color: rgba(255, 255, 255, 0.204)" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="fas fa-bars fa-2x" style="color:#34495e;"></span>
                            </button>
                            <div class="collapse navbar-collapse cult" id="navbarsExample04">
                                <ul class="navbar-nav ml-auto">
                                    <!-- Opción de inicio de sesión -->
                                    <li class="nav-item ml-3">
                                        <a class="nav-link login-btn" href="{% url 'Login' %}">
                                            <i class="fas fa-sign-in-alt mr-2"></i>Iniciar Sesión 
                                        </a>
                                        <br>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
<div class="main-content-wrapper">
    {% block contenido %}
    {% endblock %}
</div>

<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h4>Acerca de nosotros</h4>
            <p>Somos un albergue dedicado a la ayuda social y el bienestar.</p>
        </div>
        <div class="footer-section">
            <h4>Contacto</h4>
            <p>Email: info@albergue.com</p>
            <p>Teléfono: +52 55 1234 5678</p>
        </div>
        <div class="footer-section">
            <h4>Síguenos</h4>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2025 Albergue Divino Redentor. Todos los derechos reservados.</p>
    </div>
</footer>
</body>
</html>

