<title>{%block titulo%} Inventario 🧼 {%endblock%}</title>

{% load static %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'inicio/css/login_styles.css' %}">
{% endblock %}

{% block contenido %}

{% block nav %}
<div class="header">
    <h1>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</h1>
    <div class="header-right">
        <a href="{% url 'lista_pacientes' %}" style="text-decoration:none;">PACIENTES</a>
        <a href="{% url 'medicamentos' %}" style="text-decoration:none;">MEDICAMENTOS</a>
        <a href="{% url 'lista_tipos' %}" style="text-decoration:none;">Recursos NO medicos </a>
        {% if user.is_staff %}
        <a href="{% url 'user_list' %}" style="text-decoration:none;">ADMINISTRAR USUARIOS</a>
        {% endif %}
        <a href="{% url 'logout' %}" style="text-decoration:none;">CERRAR SESIÓN</a>
    </div>
</div>
{% endblock %}

<h2>Control de inventario 🧼</h2>

{% comment %} <div class="search-and-button">
    <a href="{% url 'registrarInventario' %}" class="btn-black">Reabastecer <br/> medicamentos</a>
</div> {% endcomment %}

<div>
  <h4>Inventario General</h4>
  Mantén un control riguroso y actualizado del inventario de medicamentos para garantizar la disponibilidad necesaria y evitar faltantes críticos.<br>
  Es fundamental registrar las fechas de reabastecimiento y cantidades para asegurar una correcta gestión del stock.<br>
  Nuestro sistema facilita la administración eficiente para que los productos estén siempre listos para su uso.
</div>

<div class="">  
  <h2>Inventario</h2>

<div class="search-and-button">
    <a href="{% url 'registrarInventario' %}" class="btn-black">REGISTRAR PRODUCTO</a>
</div>

{% for item in inventarios %}
<div class="card">
    <h3>{{ item.nombre }}</h3>
    <p>Cantidad: {{ item.cantidad }}</p>
    <p>Fecha de reabastecimiento: {{ item.fecha_reabastecimiento }}</p>

    <a href="{% url 'detalleInventario' item.id %}" class="btn-yellow">Ver detalle</a>
    <a href="{% url 'editarInventario' item.id %}" class="btn-gray">EDITAR</a>
    <a href="{% url 'eliminarInventario' item.id %}" class="btn-red">ELIMINAR</a>
</div>
{% empty %}
<p>No hay productos en el inventario.</p>
{% endfor %}

</div>
{% endblock %}