<title>{%block titulo%} Pacientes {%endblock%}</title>

{% load static %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'inicio/css/login_styles.css' %}">
{% endblock %}

{% block contenido %}

{% block nav %}
<div class="header">
    <h1>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</h1>
    <div class="header-right">
        <a href="{% url 'pacientes' %}" style="text-decoration:none;">PACIENTES</a>
        <a href="{% url 'medicamentos' %}" style="text-decoration:none;">MEDICAMENTOS</a>
        <a href="" style="text-decoration:none;">CERRAR SESIÓN</a>
    </div>
</div>
{% endblock %}

<h2>Control de inventario 🧼</h2>

<div class="search-and-button">
    <a href="{% url 'registrarInventario' %}" class="btn-black">Reabastecer <br/> medicamentos</a>
</div>

<div>
  <h4>Inventario General</h4>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br>
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
</div>

<div class="">  
  <h3>Medicamentos bajos en estock</h3>

<div class="patient-card">
    <h3>Medicamento #N</h3>
    <p>La escritura eficaz es un arte. Empezá usando palabras sencillas y cotidianas...</p>
    <div class="patient-actions">
        <a href="{% url 'detalleInventario' %}" class="btn-yellow">VISTA COMPLETA</a>
        <button href="" class="btn-gray">EDITAR</button>
        <button class="btn-red">ELIMINAR</button>
    </div>
</div>

<div class="patient-card">
    <h3>Medicamento #N</h3>
    <p>La escritura eficaz es un arte. Empezá usando palabras sencillas y cotidianas...</p>
    <div class="patient-actions">
        <a href="{% url 'detalleInventario' %}" class="btn-yellow">VISTA COMPLETA</a>
        <button href="" class="btn-gray">EDITAR</button>
        <button class="btn-red">ELIMINAR</button>
    </div>
</div>


</div>
{% endblock %}
