<title>{% block titulo %} Iniciar Sesión {% endblock %}</title>
{% load static %} 

{% block head_extra %}
<link rel="stylesheet" href="{% static 'inicio/css/login_styles.css' %}" />
<style>
  :root {
    --login-background: url("{% static 'inicio/images/divinoredentor.png' %}");
  }

  /* Animación fade-in */
  .fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
  }

  .fade-in.show {
    opacity: 1;
  }
</style>
{% endblock %} 

{% block contenido %}
<div class="login-container fade-in" id="loginContainer">
  <div class="login-box">
    <h1 class="login-title">Iniciar Sesión</h1>
    <p class="login-subtitle">Inicia sesión para continuar</p>

    {% if messages %}
      {% for message in messages %}
        <div class="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <form class="login-form" method="post">
      {% csrf_token %}   

      <div class="form-group">
        <label for="username" class="form-label">Nombre de Usuario</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-input"
          placeholder="Tu nombre de usuario"
          required
        />
      </div>
      
      <div class="form-group">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-input"
          placeholder="*****"
          required
        />
      </div>
      <button name="Boton iniciar" type="submit" class="btn-black">Iniciar Sesión</button>
    </form>

    <div style="margin-top: 20px;">
      <a href="{% url 'Principal' %}" class="btn-red">Volver a principal</a>
    </div>

  </div>
</div>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    const container = document.getElementById('loginContainer');
    container.classList.add('show');
  });
</script>
{% endblock %}
