<title>{%block titulo%} Medicamentos {%endblock%}</title>

{% load static %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'inicio/css/login_styles.css' %}">
{% endblock %}

{% block contenido %}

{% block nav %}
<div class="header">
    <h1>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</h1>
    <div class="header-right">
        <a href="" style="text-decoration:none;">GESTIÓN DE RECURSOS</a>
        <a href="" style="text-decoration:none;">INVENTARIO</a>
        <a href="" style="text-decoration:none;">CERRAR SESIÓN</a>
    </div>
</div>
{% endblock %}

<h2>Bienvenido, Administrador <br> Gestión de Medicamentos</h2>

<div class="search-and-button">
    <input type="text" class="search-bar" placeholder="Buscar">
    <a href="" class="btn-black">REGISTRAR NUEVOS MEDICAMENTOS</a>
</div>

<h4>Medicamentos</h4>

<div class="patient-card">
    <h3>Lorem</h3>
    <p>La escritura eficaz es un arte. Empezá usando palabras sencillas y cotidianas...</p>
    <div class="patient-actions">
        <a href="{% url 'detalleMedicamento' %}" class="btn-yellow">VISTA COMPLETA</a>
        <button href="" class="btn-gray">EDITAR</button>
        <button class="btn-red">ELIMINAR</button>
    </div>
</div>

<div class="patient-card">
    <h3>Lorem</h3>
    <p>La escritura eficaz es un arte. Empezá usando palabras sencillas y cotidianas...</p>
    <div class="patient-actions">
        <a href="detalleMedicamento" class="btn-yellow">VISTA COMPLETA</a>
        <button href="" class="btn-gray">EDITAR</button>
        <button class="btn-red">ELIMINAR</button>
    </div>
</div>
{% endblock %}
