{% load static %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'inicio/css/login_styles.css' %}">
{% endblock %}

{% block contenido %}
{% block nav %}
<div class="header">
    <h1>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</h1>
    <div class="header-right">
        <a href="{% url 'medicamentos' %}" style="text-decoration:none;">MEDICAMENTOS</a>
        <a href="" style="text-decoration:none;">CERRAR SESIÓN</a>
    </div>
</div>
{% endblock %}

<h1>Bienvenido, Médico <br> Gestión de Pacientes</h1>

<h4>Pacientes</h4>

<input type="text" class="search-bar" placeholder="Buscar">

<a href="#" class="btn-black">REGISTRAR NUEVO PACIENTE</a>

<div class="patient-card">
    <h3>Lorem</h3>
    <p>La escritura eficaz es un arte. Empezá usando palabras sencillas y cotidianas...</p>
    <div class="patient-actions">
        <button class="btn-yellow">VISTA COMPLETA</button>
        <button class="btn-gray">EDITAR</button>
        <button class="btn-red">ELIMINAR</button>
    </div>
</div>

<div class="patient-card">
    <h3>Lorem</h3>
    <p>La escritura eficaz es un arte. Empezá usando palabras sencillas y cotidianas...</p>
    <div class="patient-actions">
        <button class="btn-yellow">VISTA COMPLETA</button>
        <button class="btn-gray">EDITAR</button>
        <button class="btn-red">ELIMINAR</button>
    </div>
</div>
{% endblock %}
