{% extends "inicio/encabezado.html" %}
{% load static %}

{% block titulo %}CendeDios{% endblock %}

{% block contenido %}
<style>
  h1 { text-align: center; margin-top: 20px; font-size: 45px; }
  .contenido { display: grid; grid-template-columns: 1fr 2fr 1fr; grid-template-rows: auto auto; gap: 20px; padding: 20px;align-items: start; }
  .columna { display: flex; flex-direction: column;gap: 20px; }
  .columna img { width: 100%; border: 1px solid black; }
  .principal img { width: 100%; height: auto; border: 1px solid black; }
  .texto { font-size: 14px; line-height: 1.5;}
</style>

<h1>Albergue Divino Redentor</h1>

<div class="contenido">
  <!-- Columna Izquierda -->
  <div class="columna">
    <div>
      <h2>¿Quienes Somos?</h2>
      <p class="texto">La escritura eficaz es un arte. Empezá usando palabras sencillas y cotidianas que las personas puedan entender fácilmente. Sé claro y directo. Mantené un flujo de ideas lógico e intentá ser conciso.</p>
      <p class="texto">Nuestras ideas tienen un propósito, así que elegí palabras que lo expresen con precisión.</p>
    </div>
    <img src="{% static 'inicio/images/doctorescribiendo.png' %}" alt="Doctor escribiendo">
  </div>

  <!-- Imagen central -->
  <div class="principal">
    <img src="{% static 'inicio/images/habitacion1.png' %}" alt="Habitación">
    <div>
      <h2>Lorem</h2>
      <p class="texto">La escritura eficaz es un arte. Empezá usando palabras sencillas y cotidianas. Sé claro y directo. Mantené un flujo de ideas lógico e intentá ser conciso.</p>
      <p class="texto">Tus ideas tienen un propósito, así que elegí palabras que lo expresen con precisión. Usá la voz activa siempre que sea posible, ya que hace que la lectura sea más fluida.</p>
    </div>
  </div>

  <!-- Columna Derecha -->
  <div class="columna">
    <div>
      <h2>¿Que hacemos?</h2>
      <p class="texto">La escritura eficaz es un arte. Empezá usando palabras sencillas y cotidianas. Sé claro y directo. Mantené un flujo de ideas lógico e intentá ser conciso.</p>
      <p class="texto">Nuestras ideas tienen un propósito, así que elegí palabras que lo expresen con precisión.</p>
    </div>
    <img src="{% static 'inicio/images/doctormedicina.png' %}" alt="Doctor con portapapeles">
  </div>
</div>
{% endblock %}
