{% extends "inicio/encabezado.html" %}
{% load static %}

{% block titulo %}Principal{% endblock %}


{% block contenido %}
<style>
  h1 { text-align: center; margin-top: 20px; font-size: 45px; }
  .contenido { display: grid; grid-template-columns: 1fr 2fr 1fr; grid-template-rows: auto auto; gap: 20px; padding: 20px;align-items: start; }
  .columna { display: flex; flex-direction: column;gap: 20px; }
  .columna img { width: 100%; border: 1px solid black; }
  .principal img { width: 100%; height: auto; border: 1px solid black; }
  .texto { font-size: 14px; line-height: 1.5;}
</style>

<h1>Albergue Divino Redentor</h1>

<div class="contenido">
  <div class="columna">
    <div>
      <h2>¿Quienes Somos?</h2>
      <p class="texto">El Albergue Divino Redentor es una institución sin fines de lucro dedicada a brindar refugio, atención y acompañamiento a personas en situación vulnerable. <br><br> Desde nuestra fundación, trabajamos con compromiso y empatía para ofrecer un espacio seguro, digno y humano para quienes más lo necesitan.</p> <br>
      <p class="texto">Nuestro equipo está conformado por profesionales y voluntarios que creen en el poder de la solidaridad, el respeto y la esperanza como herramientas de transformación social.</p>
    </div>
    <img src="{% static 'inicio/images/doctorescribiendo.png' %}" alt="Doctor escribiendo">
  </div>

  <div class="principal">
    <img src="{% static 'inicio/images/habitacion1.png' %}" alt="Habitación">
    <div>
      <h2>Nuestro espacio</h2>
      <p class="texto">Contamos con instalaciones limpias, cómodas y funcionales, diseñadas para ofrecer bienestar y tranquilidad a nuestros residentes. <br> Cada habitación está equipada para satisfacer las necesidades básicas de descanso, higiene y alimentación.</p>
    </div>
  </div>

  <div class="columna">
    <div>
      <h2>¿Que hacemos?</h2>
      <p class="texto">Proveemos alojamiento temporal, alimentación, atención médica básica, y orientación psicológica y social. <br> <br> También desarrollamos talleres y actividades de reintegración para ayudar a nuestros beneficiarios a recuperar su autonomía y reconstruir sus vidas.</p> <br>
      <p class="texto"> Nos enfocamos en atender a adultos mayores, personas en situación de calle, mujeres en situación de violencia, y migrantes que requieren apoyo durante sus procesos de transición.</p>
    </div>
    <img src="{% static 'inicio/images/doctormedicina.png' %}" alt="Doctor con portapapeles">
  </div>
</div>
{% endblock %}



