<title>{%block titulo%} Registrar paciente {%endblock%}</title>
{% load static %} 

{% block head_extra %}
<link rel="stylesheet" href="{% static 'inicio/css/login_styles.css' %}" />
{% endblock %} 

{% block contenido %}
<div class="login-container">
    <div class="login-box">
        <h1 class="login-title">Registrar Nuevo Paciente</h1>

    <form class="login-form" method="post">
      {% csrf_token %}
        <div class="form-group">
            <label for="username" class="form-label">Nombre</label>
            <input 
            type="text" 
            name="username" 
            id="username" 
            class="form-input" 
            placeholder="Nombre de usuario" 
            required>
        </div>
        <div class="form-group">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input
            type="email"
            id="email"
            name="email"
            class="form-input"
            placeholder="tuemail@ejemplo.com"
            required
            />
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Contraseña</label>
            <input
            type="password"
            id="password"
            name="password"
            class="form-input"
            placeholder="*****"
            required
            />
        </div>
        <div class="form-group">
            <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento</label>
            <input 
            type="date" 
            name="fecha_nacimiento" 
            id="fecha_nacimiento" 
            class="form-input" 
            required>
        </div>
        <button type="submit" class="login-button">Listo</button>
    </form>
  </div>
</div>
{% endblock %}
