<title>{%block titulo%} Registrar en Inventario 🧼 {%endblock%}</title>
{% load static %}



{% block head_extra %}
<link rel="stylesheet" href="{% static 'inicio/css/login_styles.css' %}">
{% endblock %}



<h2>Registrar Producto En Inventario 🧼</h2>

<div class="login-container">
    <div class="login-box">
        <form method="POST" class="login-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div style="color: red;">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="login-button">Guardar</button>
        </form>
    </div>
</div>