<title>{%block titulo%} Detalle del Paciente {%endblock%}</title>
{% load static %} 

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>
{% block head_extra %}
<link rel="stylesheet" href="{% static 'inicio/css/login_styles.css' %}" />
{% endblock %}

{% block nav %}
<div class="header">
    <h1> </h1>
    <div class="header-right">
        <a href="{% url 'lista_pacientes' %}" style="text-decoration:none;">PACIENTES</a>
        <a href="{% url 'medicamentos' %}" style="text-decoration:none;">MEDICAMENTOS</a>
        {% if user.is_staff %}
        <a href="{% url 'inventario' %}" style="text-decoration:none;">INVENTARIO</a>
        <a href="{% url 'lista_tipos' %}" style="text-decoration:none;">RECURSOS NO MEDICOS </a>
        <a href="{% url 'user_list' %}" style="text-decoration:none;">ADMINISTRAR USUARIOS</a>
        {% endif %}
        <a class="btn-cerrar-sesion" style="color:white;" href="{% url 'logout' %}">CERRAR SESIÓN</a>
    </div>
</div>
{% endblock %}

{% block contenido %}
<div class="fade-in">
  <h2>Historial Médico Completo</h2>

  <div class="detalle-container">
    <div class="detalle-texto">
      <h3>Paciente: {{ paciente.nombre }}</h3>
      <p><strong>Edad:</strong> {{ paciente.edad }}</p>
      <p><strong>Diagnóstico:</strong> {{ paciente.diagnostico }}</p>
    </div>
  </div>

  <div class="detalle-botones">
    <a href="{% url 'lista_pacientes' %}" class="btn-yellow">Volver a la lista de pacientes</a>
    <a href="{% url 'editar_paciente' paciente.pk %}" class="btn-gray">EDITAR</a>
    <a href="{% url 'eliminar_paciente' paciente.pk %}" class="btn-red">ELIMINAR</a>
  </div>
</div>
{% endblock %}
