<title>{%block titulo%} eliminar de inventario 🧼 {%endblock%}</title>

{% load static %}



{% block head_extra %}
<link rel="stylesheet" href="{% static 'inicio/css/login_styles.css' %}">
{% endblock %}



<h2>¿Estás seguro de eliminar "{{ object.nombre }}"?</h2>

<div class="detalles">
    <p>Cantidad: {{ object.cantidad }}</p>
    <p>Fecha de reabastecimiento: {{ object.fecha_reabastecimiento }}</p>
    <p>Descripción: {{ object.descripcion }}</p>
</div>

<form method="post" style="margin-top: 30px;">
    {% csrf_token %}
    <div class="patient-actions">
        <button type="submit" name="Boton eliminar" class="btn-red">Sí, eliminar</button>
        <a href="{% url 'inventario' %}" class="btn-gray">Cancelar</a>
    </div>
</form>