<title>{%block titulo%} Inventario {%endblock%}</title>

{% load static %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'inicio/css/login_styles.css' %}">
{% endblock %}

{% block contenido %}

{% block nav %}
<div class="header">
    <h1> </h1>
    <div class="header-right">
        <a href="{% url 'lista_pacientes' %}" style="text-decoration:none;">PACIENTES</a>
        <a href="{% url 'medicamentos' %}" style="text-decoration:none;">MEDICAMENTOS</a>
        <a href="{% url 'inventario' %}" style="text-decoration:none;">INVENTARIO</a>
        {% if user.is_staff %}
        <a href="{% url 'lista_tipos' %}" style="text-decoration:none;">RECURSOS NO MEDICOS </a>
        <a href="{% url 'user_list' %}" style="text-decoration:none;">ADMINISTRAR USUARIOS</a>
        {% endif %}
        <a href="{% url 'logout' %}" style="text-decoration:none;">CERRAR SESIÓN</a>
    </div>
</div>
{% endblock %}


<div class="">  
  <h2>Inventario</h2>

<div class="search-and-button">
    <a href="{% url 'registrarInventario' %}" class="btn-black">REGISTRAR PRODUCTO</a>
</div>

<br>

{% for item in inventarios %}
<div class="patient-card">
    <div class="patient-content">
    <h3>{{ item.nombre }}</h3>
        <p>Cantidad: {{ item.cantidad }}</p>
        <p>Fecha de reabastecimiento: {{ item.fecha_reabastecimiento }}</p>

        <div class="patient-actions">
            <a href="{% url 'detalleInventario' item.id %}" class="btn-yellow">VER DETALLE</a>
            <a href="{% url 'editarInventario' item.id %}" class="btn-gray">EDITAR</a>
            <a href="{% url 'eliminarInventario' item.id %}" class="btn-red">ELIMINAR</a>
        </div>
    </div>
    {% empty %}
    <p>No hay productos en el inventario.</p>
    {% endfor %}
</div>
{% endblock %}


