<title>{% block titulo %} Medicamentos {% endblock %}</title>

{% load static %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'inicio/css/login_styles.css' %}">
{% endblock %}

{% block contenido %}
 
{% block nav %}
<div class="header">
    <h1> </h1>
    <div class="header-right">
        <a href="{% url 'lista_pacientes' %}" style="text-decoration:none;">PACIENTES</a>
        <a href="{% url 'medicamentos' %}" style="text-decoration:none;">MEDICAMENTOS</a>
        {% if user.is_staff %}
        <a href="{% url 'inventario' %}" style="text-decoration:none;">INVENTARIO</a>
        <a href="{% url 'lista_tipos' %}" style="text-decoration:none;">RECURSOS NO MEDICOS </a>
        <a href="{% url 'user_list' %}" style="text-decoration:none;">ADMINISTRAR USUARIOS</a>
        {% endif %}
        <a class="btn-cerrar-sesion" style="color:white;" href="{% url 'logout' %}">CERRAR SESIÓN</a>
    </div>
</div>
{% endblock %}

<div class="fade-in"> 
    <h2>Dispensación de medicamentos</h2>

    <div class="search-and-button">
        <a href="{% url 'registrarMedicamento' %}" class="btn-black">
            REGISTRAR SALIDAS DE MEDICAMENTO
        </a>
    </div>

    <h4>Historial de salidas</h4>

    {% for medicamento in medicamentos %}
    <div class="patient-card">
        <div class="patient-content">
            <h3>{{ medicamento.nombre }}</h3>
            <p>
                Tipo: {{ medicamento.tipo }} <br>
                Cantidad: {{ medicamento.cantidad }} <br>
                Lote: {{ medicamento.lote }} <br>
                Estado: {{ medicamento.get_estado_display }} <br>
                Fecha de vencimiento: {{ medicamento.fecha_vencimiento }} <br>
                Proveedor: {{ medicamento.proveedor }}
            </p>
            <div class="patient-actions">
                <a href="{% url 'editarMedicamento' medicamento.id %}" class="btn-gray">EDITAR</a>
                <a href="{% url 'eliminarMedicamento' medicamento.id %}" class="btn-red">ELIMINAR</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No hay medicamentos registrados.</p>
    {% endfor %}
</div>
{% endblock %}
