<title>{% block titulo %} Pacientes {% endblock %}</title>

{% load static %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'inicio/css/login_styles.css' %}">
{% endblock %}

{% block contenido %}

{% block nav %}
<div class="header">
    <h1> </h1> 
    <div class="header-right">
        <a href="{% url 'lista_pacientes' %}" style="text-decoration:none;">PACIENTES</a>
        <a href="{% url 'medicamentos' %}" style="text-decoration:none;">MEDICAMENTOS</a>
        {% if user.is_staff %}
        <a href="{% url 'inventario' %}" style="text-decoration:none;">INVENTARIO</a>
        <a href="{% url 'lista_tipos' %}" style="text-decoration:none;">RECURSOS NO MEDICOS </a>
        <a href="{% url 'user_list' %}" style="text-decoration:none;">ADMINISTRAR USUARIOS</a>
        {% endif %}
        <a class="btn-cerrar-sesion" style="color:white;" href="{% url 'logout' %}">CERRAR SESIÓN</a>
    </div>
</div>
{% endblock %}

<div class="fade-in"> 
    <h2>Bienvenido, Médico <br> Gestión de Pacientes</h2>

    <div class="search-and-button">
        <input type="text" class="search-bar" placeholder="Buscar">
        <a href="{% url 'crear_paciente' %}" class="btn-black">REGISTRAR NUEVO PACIENTE</a>
    </div>

    <h4>Pacientes</h4>

    {% for paciente in pacientes %}
    <div class="patient-card">
        <h3>{{ paciente.nombre }}</h3>
        <p>Edad: {{ paciente.edad }}</p>
        <p>Diagnóstico: {{ paciente.diagnostico|truncatewords:15 }}</p>
        <div class="patient-actions">
            <a href="{% url 'detalle_paciente' paciente.id %}"  class="btn-yellow">VER HISTORIAL</a>
            <a href="{% url 'editar_paciente' paciente.id %}"  class="btn-gray">EDITAR</a>
            <a href="{% url 'eliminar_paciente' paciente.id %}" class="btn-red">ELIMINAR</a>
        </div>
    </div>
    {% empty %}
    <p>No hay pacientes registrados.</p>
    {% endfor %}
</div>
{% endblock %}
