{% load static %}

<title>{% block titulo %} Tipos de Recursos No Médicos {% endblock %}</title>

{% block head_extra %}
<link rel="stylesheet" href="{% static 'inicio/css/login_styles.css' %}">
{% endblock %}

{% block contenido %}

{% block nav %}
<div class="header">
    <h1>Bienvenido<span class="nombre-usuario">{{ request.user.first_name|default:request.user.username }}!</span></h1> 
    <div class="header-right">
        <a href="{% url 'lista_pacientes' %}" style="text-decoration:none;">PACIENTES</a>
        <a href="{% url 'medicamentos' %}" style="text-decoration:none;">MEDICAMENTOS</a>
        {% if user.is_staff %}
        <a href="{% url 'inventario' %}" style="text-decoration:none;">INVENTARIO</a>
        <a href="{% url 'lista_tipos' %}" 
        class="{% if request.resolver_match.url_name == 'lista_tipos' %}active{% endif %}"}
        style="text-decoration:none;">RECURSOS NO MEDICOS </a>
        <a href="{% url 'user_list' %}" style="text-decoration:none;">ADMINISTRAR USUARIOS</a>
        <a class="btn-cerrar-sesion" style="color:white;" href="{% url 'logout' %}">CERRAR SESIÓN</a>
        {% endif %}
    </div>
</div>
{% endblock %}

<div class="fade-in">
    <h2>Recursos No Médicos</h2>

    <div class="search-and-button" style="margin-bottom: 20px;">
      <a href="{% url 'registrar_tipo' %}" class="btn-black">Agregar nuevo tipo</a>
    </div>

    <ul style="list-style-type: none; padding-left: 0;">
        {% for tipo in tipos %}
        <li class="patient-card" style="display: flex; justify-content: space-between; align-items: center; padding: 12px 15px; margin-bottom: 8px; border-radius: 8px; background-color: #f9f9f9;">
            {{ tipo.nombre }}
            <a href="{% url 'eliminar_tipo' tipo.id %}" class="btn-red">
                <i class="fas fa-trash"></i> ELIMINAR </a>
        </li>
        {% empty %}
        <li>No hay tipos registrados.</li>
        {% endfor %}
    </ul>


    <div style="margin-top: 30px;">
      <a href="{% url 'lista_solicitudes' %}" class="btn-yellow">Ver solicitudes</a>
    </div>
</div>
{% endblock %}
